/* CSS Style Sheet */
html {
    background: url("img/Speed\ flex.webp") no-repeat center fixed;
    background-size: cover;
 }
 
 body {
     margin: auto; text-align: center;
     font-family: fantasy;
     width: 500px;
    }

    h3 {
        color: black;
       font-size: 25px;
       font-variant: small-caps;
     text-align: right;

    }
    h1 {
        font-size: 45px;
    }

    
    
