/* CSS Style Sheet */
html {
  background: url("img/idk.webp") no-repeat center fixed;
  background-size: cover;
}

body {
  background-color: rgba(255, 255, 255, 0.7);
  width: 500px;
  margin: 25px auto;
  text-align: center;
  padding: 50px 75px;
  border-radius: 25px;
}

h3 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-variant: small-caps;
  text-align: right;
  text-shadow: rgb(0, 98, 255) 2px 2px;
}

h1 {
  font-size: 45px;
  text-shadow: white;
}

.about-text {
  letter-spacing: 2px;
}

p {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-variant: small-caps;
  text-align: right;
  text-shadow: rgb(0, 98, 255) 2px 2px;
}

h1 {
  color: white;
  text-shadow: rgb(0, 98, 255) 2px 2px;
}

a {
  color: white;
  font-size: 25px;
}
